body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: rgba(62,62,132,0.1)  !important;
}

.asteriskField {
    display: none;
}

#maincontainer {
    padding: 0px;
}

/* -------------------- MAIN ---------------------*/

.tile {
    background-color: rgba(250, 245, 245, 1);
    padding: 0.5em 1em;
    border-width: 1px;
    border-style: none solid solid solid;
    border-color: /*rgba(62,62,132,0.4)*/ rgba(200, 200, 200, 1);
    border-radius: 5px;
    margin: 5px 0px;
}

.tile h2 {
    margin: 5px 0px;
}

#main {
    padding: 0px 5px;
    font-family: 'Roboto', sans-serif;
}

.row_image {
    display: inline-block;
    float: left;
    margin: 0.5em;
}

.single_image {
    display: block;
    margin: auto;
    padding: 1em;
}

#main .image_div {
    margin: 2em 1em;
}

.same_height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
}

.same_height [class*="col-"] {
    display: flex;
    flex-direction: column;
}


/* -------------------- LOGO ---------------------*/
#menu, #logo {
    background-color: #DCB257;
}

#logo {
    display: inline-block;
    padding: 20px;
}

#logo:hover p {
    font-weight: 900;
}

#logo h1, #logo p {
    color: #1B2E53;
}

#logo h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 0px;
    font-size: 7vh;
    margin: 0px;
}

#logo p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 0px;
    font-size: 2vh;
    text-transform: none;
    margin: 0px;
    letter-spacing: 3px;
    text-align: justify;
}
#logo a:hover {
    text-decoration: none;
}

/* -------------------- MENU & SIDEBAR ---------------------*/

#menu a, #menu p, .dropdown-menu li a, #side a {
    color: #1B2E53;
}

#menu a, #menu p {
	display: block;
	line-height: 40px;
	letter-spacing: 1px;
	text-decoration: none;
	text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
	font-size: 15px;
}
#menu .dropdown-menu li a {
    display: block;
	line-height: 20px;
	letter-spacing: 1px;
	text-decoration: none;
	text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
	font-size: 15px;
}
#menu a:hover, #menu p:hover {
	font-weight: 900;
}

#side, .dropdown-menu {
    background-color: rgba(200, 200, 200, 1) !important;
}

#side {
    height: 100%;
    padding: 0px 20px 20px 15px; /*top right bottom left*/
    border-radius: 5px;
    margin: 5px 0px;
}

#side h4 {
    margin-left: 10px;
}
.dropdown-menu h4 {
    margin-left: 5px;
}

#side h5 {
    margin: 3px 0px 3px 20px; /*top right bottom left*/
}
