{% extends "py_monocle_cms/main_with_sidebar.html" %}
{% load monocle_cms_tags %}

{% block title %}
{% for content in page.content.all %}
    {% ifequal content.language language %}
        {{ content.headline }} - Monoclecat
    {% endifequal %}
{% endfor %}
{% endblock %}

{% block main %}
    {% if request.user.is_superuser %}
        <a href="/edit{{ request.path }}" class="btn btn-primary btn-lg" role="button" target="_blank">Edit</a>
    {% endif %}

    {% for content in page.content.all %}
        {% ifequal content.language language %}
            <h1>{{ content.headline }}</h1>
            {{ content.body|from_markdown|safe }}
        {% endifequal %}
    {% endfor %}

{%  endblock %}