{% extends "py_monocle_cms/main_with_sidebar.html" %}
{% load monocle_cms_tags %}

{% block title %}
     {{ page.headline }} - Monoclecat
{% endblock %}

{% block main %}
    <div class="tile" itemscope itemtype="http://schema.org/BlogPosting">
        <meta itemscope itemprop="mainEntityOfPage"  itemType="https://schema.org/WebPage" itemid="https://google.com/article"/>
        <div itemprop="author" itemscope itemtype="https://schema.org/Person">
            <meta itemprop="name" content="Andrew Delay" /></div>
        <meta itemprop="datePublished" content="{{ page.created }}"/>
        <meta itemprop="dateModified" content="{{ page.created }}"/>
        {% if request.user.is_superuser %}
            <a href="/edit{{ request.path }}" class="btn btn-primary btn-lg" role="button">Edit</a>
        {% endif %}
        <h1 itemprop="headline">{{ page.headline }}</h1>
        {{ page.body|from_markdown|safe }}
    </div>
{%  endblock %}