{% extends "py_monocle_cms/main_with_sidebar.html" %}
{% load crispy_forms_tags %}
{% load monocle_cms_tags %}

{% block title %}
        Edit: {{ page.headline }} - Monoclecat
{% endblock %}

{% block main %}
    <div class="tile">
        <h1>Edit page</h1>

        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

        <form class="bootstrap3" action="{% url 'py_monocle_cms:content_edit' page.id slug %}" method="post">
            {% crispy form %}
        </form>
    </div>

{%  endblock %}